* {
  font-family: 'Overpass', sans-serif;
}

.navbar {
  padding: 0px;
}

.nav > li > a {
  padding-right: 10px;
  padding-left: 10px;
}

.intro-section {
  background: #ffffff url('img/petrov_brno_transparent_light_med_bg.png') no-repeat center center;
  height: 100vh;
}

.top-branding {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  padding-top: 10px;
}

.social {
  font-size: 1.5em;
}

.social li {
  height: 50px;
}

#devconf-logo {
  max-width: 100%;
}

.code {
  font-weight: 600;
  margin-top: 50px;
}

@media (max-width: 991px) {
    .top-branding {
      left: 60%;
    }
	}
